.main-navbar {
  display: flex;
  width: 100%;
  background: white;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.navbar-logo {
  display: block;
  /* background: red; */
  margin: auto 15px;
  color: rgb(0, 26, 83);
  font-weight: bold;
  font-size: 20px;
}
