@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  font-family: Roboto;
}
.main-navbar {
  display: flex;
  width: 100%;
  background: white;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.navbar-logo {
  display: block;
  /* background: red; */
  margin: auto 15px;
  color: rgb(0, 26, 83);
  font-weight: bold;
  font-size: 20px;
}

.info-box {
  box-shadow: rgb(159 162 191 / 18%) 0px 9px 16px,
    rgb(159 162 191 / 32%) 0px 2px 2px;
  background-color: #fff;
  border-radius: 6px;
}
.info-box-header {
  padding: 16px;
  border-bottom: 1px solid #f8f8f8;
}
.info-box-section {
  padding: 16px;
}
