// Set your brand colors
$purple: #3f51b5;

// Update Bulma's global variables
$primary: $purple;
$table-head-cell-border-width: 0 0 1px;

@import '../../node_modules/bulma/sass/utilities/_all.sass';
$button-ghost-hover-decoration: none;
$button-ghost-color: $primary;
$button-ghost-hover-color: $primary;
.button.is-ghost:hover {
  background: $primary-light;
}
@import '../../node_modules/bulma/sass/base/_all.sass';
@import '../../node_modules/bulma/sass/layout/_all.sass';
@import '../../node_modules/bulma/sass/helpers/_all.sass';
@import '../../node_modules/bulma/sass/grid/_all.sass';
@import '../../node_modules/bulma/sass/form/_all.sass';
@import '../../node_modules/bulma/sass/elements/_all.sass';
@import '../../node_modules/bulma/sass/components/_all.sass';

input:invalid {
  border-color: $danger !important;
  & + .invalid-help-text {
    display: block;
  }
}
input {
  & + .invalid-help-text {
    display: none;
  }
}

.app-header {
  @extend .columns;
  &-left {
    @extend .column;
    & h1 {
      @extend .title;
    }
  }
  &-right {
    @extend .column;
    flex-grow: 0;
  }
}
.is-rounded-40 {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.drawer {
  background: #fff;
  top: 0;
  left: 0;
  height: 100vh;
  width: fit-content;
  padding: 10px;
  &-wrapper {
    position: fixed;
    background: rgba(0, 0, 0, 0.158);
    visibility: hidden;
    z-index: 100000;
    border: 0;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    &.is-open {
      visibility: visible !important;
    }
    @media (min-width: 1024px) {
      position: relative;
      background: #fff;
      width: auto;
      visibility: visible;
    }
  }
  & .menu-list li {
    cursor: pointer;
  }
}

.panel-block-custom {
  @extend .panel-block;
  display: flex;
  flex-wrap: wrap;
  & h6 {
    display: block;
    flex-grow: 1;
    font-weight: 500;
  }
  & div {
    display: block;
    flex-grow: 1;
  }
  margin: 0;
}
.alert-modal {
  @extend .notification;
  position: fixed;
  width: 90%;
  z-index: 1000;
  left: 50%;
  max-width: 800px;
  top: 20px;
  transform: translate(-50%, 0);
}

.app-navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #fff;
  padding: 10px 20px;
}
.app-navbar-left,
.app-navbar-brand,
.app-navbar-right {
  display: flex;
  align-items: center;
}
.app-navbar-avatar-menu-button {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  background: $info;
}

.main-navbar {
  display: flex;
  width: 100%;
  background: white;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.navbar-logo {
  display: block;
  /* background: red; */
  margin: auto 15px;
  color: rgb(0, 26, 83);
  font-weight: bold;
  font-size: 20px;
}

.info-box {
  box-shadow: rgba(159, 162, 191, 0.18) 0px 9px 16px,
    rgba(159, 162, 191, 0.32) 0px 2px 2px;
  background-color: #fff;
  border-radius: 6px;
}
.info-box-header {
  padding: 16px;
  border-bottom: 1px solid #f8f8f8;
}
.info-box-section {
  padding: 16px;
}

// has-text-weight-medium column
// .button.is-ghost:hover,
// .button.is-ghost.is-hovered {
//   text-decoration: none;
// }
// .ghost-hover-bg:hover {
//   background: $primary-light;
// }

//quickview

// .quickview {
//   display: flex;
//   flex-direction: column;
//   background-color: $white;
//   max-width: calc(100% - 50px);
//   &.is-marginless {
//     max-width: 100%;
//   }
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   z-index: $quickview-z;
//   transform: translateZ(0);
//   transition: 0.3s ease;
//   backface-visibility: hidden;
//   perspective: 1000;
//   will-change: transform;
//   + mobile {
//     width: 100%;
//     right: -100%;
//   }
//   + table {
//     width: 50%;
//     right: -50%;
//   }
//   + desktop {
//     width: 35%;
//     right: -35%;
//   }
//   + widescreen {
//     width: 30%;
//     right: -30%;
//   }
//   + fullhd {
//     width: 25%;
//     right: -25%;
//   }
//   &.is-left {
//     + mobile {
//       left: -100%;
//     }
//     + tablet {
//       left: -50%;
//     }
//     + desktop {
//       left: -35%;
//     }
//     + widescreen {
//       left: -30%;
//     }
//     + fullhd {
//       left: -25%;
//     }
//   }
//   &.is-active {
//     right: 0;
//     box-shadow: $quickview-shadow;
//     &.is-left {
//       left: 0;
//     }
//   }
// }
