// Set your brand colors
$purple: #3f51b5;

// Update Bulma's global variables
$primary: $purple;

input:invalid {
  border-color: $danger !important;
  & + .invalid-help-text {
    display: block;
  }
}
input {
  & + .invalid-help-text {
    display: none;
  }
}
@import '../../../node_modules/bulma/bulma.sass';
